* {
    font-family: "Manrope", sans-serif;
}

html, body {
    overflow: hidden;
    height: 100%;
    background: transparent;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--primaryColor);
    border-radius: var(--radi);
    padding: 2vh;
    transition: all var(--reactTime) ease;
}

.card:hover {
    scale: var(--scaleAmnt);
}

.app-wrap {
    width: 64px;
    height: 64px;
    background-color: var(--primaryColor);
    border-radius: var(--radi);
}

.app-ico {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.5s ease;
    scale: 0.8;
}

.app-wrap:hover .app-ico{
    transform: translateY(-3px) scale(var(--panelZoom));
}

.app-wrap:active .app-ico{
    transform: scale(0.9);
}
