.panel {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    width: 15vw;
    min-width: 15vw;
    height: 6vh;
    padding: 1rem;
    background-color: var(--primaryColor);
    backdrop-filter: var(--blur);
    margin: 0 auto;
    border-radius: var(--radi);
    transform: translateY(98vh);
    transition: transform var(--reactTime) ease;
    justify-content: center;
}

.panel:hover {
    transform: translateY(89vh);
}

.app-wrap {
    width: 64px;
    height: 64px;
}

.app-ico {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.5s ease;
}


.app-wrap {
    position: relative;
}

.app-wrap::after {
    content: attr(data-name);
    position: absolute;
    top: -3vh;
    left: 50%;
    transform: translateX(-50%);

    background: #222;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 14px;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s;
    white-space: nowrap;
}

.app-wrap:hover::after {
    opacity: 1;
}

.app-wrap:hover .app-ico{
    transform: scale(var(--panelZoom));
}