.topPanel {
    position: absolute;
    height: 4vh;
    width: 95vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primaryColor);
    border-radius: var(--radi);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    cursor: default;
}

.topPanel-left {
    justify-self: start;
}

.topPanel-center {
    justify-self: center;
}

.topPanel-right {
    justify-self: end;
}

.panelTime {
    padding: 0.8vh;
    border-radius: var(--radi);
    transition: background-color var(--reactTime) ease;
}

.panelTime:hover {
    background-color: var(--primaryFocus);
}

.panelWorkspace {
    display: flex;
    margin-left: 2vw;
    gap: 5px;
}

.panelWorkspace > * {
    padding: 0.5vh;
    border-radius: var(--radi);
    transition: background-color var(--reactTime) ease;
}

.panelWorkspace > *:hover {
    background-color: var(--primaryFocus);
}

.sys-icons {
    margin-left: -11vw;
}


