.time-context{
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    top: 5.5vh;
    width: 35vw;
    height: 35vh;
    border-radius: var(--radi);
    background-color: var(--primaryColor);
}

.notifications {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 30px;
    height: 75%;
    width: 50%;
    border-radius: var(--radi);
    padding: 2vh;
    background-color: var(--primaryFocus);
    overflow-y: auto;
    gap: 15px;
}

.notifyext {
    min-height: 12vh;
    width: 90%;
    margin-left: 10px;
}

.deviceext {
    margin-left: 30px;
    margin-top: 30px;
    height: 30%;
    width: 60%;
    transition: all var(--reactTime) ease;
    overflow-y: auto;
    gap: 12%;
    justify-content: center;
}

.device-icon {
    height: 32px;
    width: 32px;
    transition: all var(--reactTime) ease;
}

.device {
    display: flex;
    align-items: center;
    gap: 25%;
    cursor: default;
    scale: 0.9;
}

.device[data-on="true"] .device-icon {
    filter: drop-shadow(0 0 var(--glowAmnt) var(--primaryContrast));
    scale: 1.2;
}

.device[data-on="false"] .device-icon {
    filter: none;
}

.cards {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    gap: 5%;
    overflow-y: auto;
}

.device-card:hover {
    scale: var(--scaleAmnt);
}


.apps {
    height: 28%;
    width: 60%;
    margin-left: 30px;
}

.apps img{
    position: absolute;
    height: 64px;
    width: 64px;
}